<%-include('header')-%>

<h1>Tulajdonosok</h1>
<div class="container">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Név</th>
            <th scope="col">Kor</th>
            <th scope="col">Kerékpárok</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            <% locals.szemelyek.forEach(function(egySzemely){%>
            <tr>
                <th scope="row"> <%= egySzemely.nev %> </th>
                <td> <%= egySzemely.kor%></td>
                <td style="white-space: nowrap"><a href="/szemely/list/<%= egySzemely._id%>"><i class="fa-solid fa-bicycle"></i></a></td>
                <td style="white-space: nowrap"><a href="/szemely/edit/<%= egySzemely._id%>" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a></td>
                <td style=" white-space: nowrap"> <a><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#runModal<%= egySzemely._id %>">
                            <i class="fa-solid fa-trash"></i>
                        </button> </a></td>
            </tr>
            <div class="modal fade" id="runModal<%= egySzemely._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Törlés</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Biztosan törli?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégsem</button>
                            <a href="/szemely/del/<%=egySzemely._id%>" class="btn btn-danger"><i>Törles</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <%});%>

        </tbody>
    </table>
</div>
<%-include('footer')-%>