<%-include('header')-%>
<h1>Új Kerékpár</h1>
<div class="container">
  <!-- Content here -->
  <form method="POST">

    <div class="form-group">
      <label for="tipus">Tipus</label>
      <input type="text" class="form-control" id="tipus" name="tipus"
             value="<%= (typeof kerekpar === 'undefined') ? '' : kerekpar.tipus%>">
    </div>
    <div class="form-group">
      <label for="szin">Szín</label>
      <input type="text" class="form-control" id="szin" name="szin"
             value="<%= (typeof kerekpar === 'undefined') ? '' : kerekpar.szin%>">
    </div>
    <div class="form-group">
      <label for="tulaj">Tulajdonos</label>
      <label>
        <select name="tulaj" id="tulaj">
          <% locals.szemelyek.forEach(function(egySzemely){%>
            <option value="<%= egySzemely._id%>"><%= egySzemely.nev%></option>
          <% }); %>
        </select>
      </label>
    </div>
    <input type="submit" class="btn btn-primary" value="Mentés"/>
    <a class="btn btn-link" href="/szemely/">Mégsem</a>
  </form>
</div>
<%-include('footer')-%>